<div class="content">

   <app-player-selector
      [selectablePlayers]="selectablePlayers()"
      [selectedPlayers]="selectedPlayers()"
      [warnings]="playerWarnings()"
      (playerAdded)="onPlayerAdded($event)"
      (playerRemoved)="onPlayerRemoved($event)"
    />

    <app-criterion-selector
      [selectableCriteria]="selectableCriteria()"
      [selectedCriteria]="selectedCriteria()"
      (criterionAdded)="onCriterionAdded($event)"
      (criterionRemoved)="onCriterionRemoved($event)"
    />

    <app-games-list
      [availableGames]="availableGames()"
    />

</div>